<div id="<%= dom_id comment %>">
  <p>
    <strong>Authorid:</strong>
    <%= comment.AuthorId %>
  </p>

  <p>
    <strong>Postid:</strong>
    <%= comment.PostId %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.Text %>
  </p>

</div>
