<h1>New comment</h1>

<%= form_with(model: @comment, local: true, url: user_post_comments_path )  do |form| %>
  
  <%= form.label :text %>
  <%= form.text_area :text %>
  
  <%= form.submit %>

<% end %>