<!DOCTYPE html>
<html>
  <head>
    <title>"Mi sitio web"</title>
    <%= stylesheet_link_tag 'post/show', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  
  <div class="postComment">

    
        <div class="postSection">  <h2 class="numPost">Post #1</h2>
        <h3 class="comLikesPost">Comments: x, Likes: y </h3>
        <p class="textPost">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure possimus dolorem ipsum excepturi modi rem sequi esse dolore, fuga laudantium laboriosam ut est, placeat ducimus deleniti deserunt? Sapiente, in aliquam? 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure possimus dolorem ipsum excepturi modi rem sequi esse dolore, fuga laudantium laboriosam ut est, placeat ducimus deleniti deserunt? Sapiente, in aliquam? 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure possimus dolorem ipsum excepturi modi rem sequi esse dolore, fuga laudantium laboriosam ut est, placeat ducimus deleniti deserunt? Sapiente, in aliquam? 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure possimus dolorem ipsum excepturi 
        modi rem sequi esse dolore, <br> <br> fuga laudantium laboriosam ut est, placeat ducimus deleniti deserunt? Sapiente, in aliquam? 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure possimus dolorem ipsum excepturi modi rem sequi esse dolore, fuga laudantium laboriosam ut est, placeat ducimus deleniti deserunt? Sapiente, in aliquam? 
        
        </p>
        </div>
        <div class="commentSection"> 
        <div class="commentByUser"><h2 class="userComment">Username: <h3 class="commentMessage"> Comment 1</h3> </h2> </div> 
        <div class="commentByUser"><h2 class="userComment">Username: <h3 class="commentMessage"> Comment 2</h3> </h2> </div> 
        <div class="commentByUser"><h2 class="userComment">Username: <h3 class="commentMessage"> Comment 3</h3> </h2> </div> 
        <div class="commentByUser"><h2 class="userComment">Username: <h3 class="commentMessage"> Comment 4</h3> </h2> </div> 
        <div class="commentByUser"><h2 class="userComment">Username: <h3 class="commentMessage"> Comment 5</h3> </h2> </div> 
        <div class="commentByUser"><h2 class="userComment">Username: <h3 class="commentMessage"> Comment 6</h3> </h2> </div> 
        <div class="commentByUser"><h2 class="userComment">Username: <h3 class="commentMessage"> Comment 7</h3> </h2> </div> 
        <div class="commentByUser"><h2 class="userComment">Username: <h3 class="commentMessage"> Comment 8</h3> </h2> </div> 
        <div class="commentByUser"><h2 class="userComment">Username: <h3 class="commentMessage"> Comment 9</h3> </h2> </div> 
        <div class="commentByUser"><h2 class="userComment">Username: <h3 class="commentMessage"> Comment 10</h3> </h2> </div> 
        </div>
  </div>

      
  </body>
</html>
