<!DOCTYPE html>
<html>
  <head>
    <title>"Mi sitio web"</title>
    <%= stylesheet_link_tag 'user/user', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  
  <div class="subParentContent">
  <div class="contentIconName"> 
  <div class="contentIcon">  <%= image_tag "icon.png", alt: "adadasda", class: "contentIcon" %>  
  </div> 
  <div class="contentNamePost">
      <h2 class="name">"User Name"</h2>
       <h3 class="numberPosts">"Number of posts: x"</h3> 
      </div> 
  </div>
  <div class="bio"> <p class="InBio"> Bio  <br><br> 
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, 
  veniam nam aut doloremque deleniti quo voluptatibus ullam 
  velit repellat modi aliquid molestias a labore soluta ab tenetur reiciendis earum debitis.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos doloribus quae officiis 
  harum molestiae quos magni quasi
  , omnis debitis? At harum omnis beatae officia reprehenderit, eos eligendi dolor perspiciatis nobis.
  </p>

  </div>
  
  <ul id="posts_li">
  
  <li id="p_item"> 
      <h2 class="numPost">Post #1</h2>
       <p class="textPost">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure possimus dolorem ipsum excepturi modi rem sequi esse dolore, fuga laudantium laboriosam ut est, placeat ducimus deleniti deserunt? Sapiente, in aliquam? </p>
  <h3 class="comLikesPost">Comments: x, Likes: y </h3>
      </li>
  
      <li id="p_item"> 
      <h2 class="numPost">Post #2</h2>
       <p class="textPost">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure possimus dolorem ipsum excepturi modi rem sequi esse dolore, fuga laudantium laboriosam ut est, placeat ducimus deleniti deserunt? Sapiente, in aliquam? </p>
  <h3 class="comLikesPost">Comments: x, Likes: y </h3>
      </li>

      <li id="p_item"> 
      <h2 class="numPost">Post #3</h2>
       <p class="textPost">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure possimus dolorem ipsum excepturi modi rem sequi esse dolore, fuga laudantium laboriosam ut est, placeat ducimus deleniti deserunt? Sapiente, in aliquam? </p>
  <h3 class="comLikesPost">Comments: x, Likes: y </h3>
      </li>
  </ul>
  <button type="button" class="seeAllpostsButton">See all posts</button>
  </div>
  </div>

      


  </body>
</html>
