
  
  <div class="subParentContent_post_index">
  <div class="contentIconName_post_index"> 
  <div class="contentIcon_post_index">  <%= image_tag(@users.Photo, alt: "No available", class: "contentIcon", width: "100px", height: "100px" ) %>  
  </div> 
  <div class="contentNamePost_post_index">
      <h2 class="name_post_index"><%= @users.Name %></h2>
       <h3 class="numberPosts_post_index">Number of posts: <%= @posts_counter%></h3> 
      </div> 
  </div>

  <ul id="posts_li_post_index">
  <% @posts.each  do |post|  %>
    
    <%= render "posts/user_post", post: post %>


   
    <%end%>

  </ul>
  
  <button type="button" class="seeAllpostsButton_post_index">Pagination</button>
  </div>
  </div>
