<h1>Editing create user</h1>

<%= render "form", create_user: @create_user %>

<br>

<div>
  <%= link_to "Show this create user", @create_user %> |
  <%= link_to "Back to create users", create_users_path %>
</div>
