body,
html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  border: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.postComment_post_show {
  width: 50%;
  height: 12%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.numPost_post_show {
  margin: 0;
  width: 60%;
}

.textPost_post_show {
  margin: 2% 0% 2% 0%;
}

.comLikesPost_post_show {
  margin: 0;
  text-align: end;
  padding-right: 3%;
}

.commentSection_post_show {
  display: flex;
  flex-direction: column;
  padding: 2px;
  width: 98%;
  border: 1px solid black;
  margin: 0% 1% 0.5% 1%;
  list-style: none;
}

.postSection_post_show {
  border: 1px solid black;
  margin: 4% 1% 0.5% 1%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.userComment_post_show {
  margin: 1% 0 1% 0;
  font-size: 1.3em;
}

[class^="commentMessage_post_show"] {
  margin: 1% 0 0.3% 2%;
  font-size: 1.1em;
}

[class^="commentByUser_post_show_"] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 25px;
}

.title_post_show {
  width: 100%;
}
