body,
html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  border: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.subParentContent_user_show {
  width: 50%;
  height: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.contentIconName_user_show {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentIcon_user_show {
  width: 90px;
  height: 90px;
  border: 1px solid black;
}

.contentNamePost_user_show {
  display: flex;
  justify-content: space-evenly;
  width: 68%;
  border: 1px solid black;
}

.numberPosts_user_show {
  align-self: flex-end;
  margin-bottom: 1%;
}

.bio_user_show {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 90%;
  padding: 2% 0% 2% 0%;
}

.InBio_user_show {
  padding: 0% 2% 0 2%;
}

#posts_li_user_show {
  list-style: none;
  margin: 2% 0 0 0;
  padding: 0;
  width: 90%;
}

#p_item_user_show {
  margin-top: 3%;
  border: 1px solid black;
}

.numPost_user_show {
  margin: 0;
}

.textPost_user_show {
  margin: 2% 0% 2% 0%;
}

.comLikesPost_user_show {
  margin: 0;
  text-align: end;
  padding-right: 3%;
}

.seeAllpostsButton_user_show {
  margin-top: 3%;
  width: 31%;
}
